################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BugsAway/BugsAway.Web/Properties/PublishProfiles
