/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */

/* Custom
-------------------------------------------------- */

*:focus {
    outline: none;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}


.status-container {
    /*    min-width: 100vw;*/
}

#board, #projects, #insights {
    flex-direction: column;
}


    #insights > div > canvas {
        height: 250px;
    }

.ticket-edit {
    top: 0.5rem;
    right: 1.5rem;
    transition: all 0.6s ease;
    opacity: 0;
    cursor:pointer;
}

.ticket-edit > svg {
    height: 1rem;
}

.ticket-close {
    top: 0.3rem;
    right: 0.5rem;
    transition: all 0.3s ease;
    opacity: 0;
    cursor: pointer;
}

.ticket-close:focus {
    outline: none;
}

.ticket-card:hover .ticket-close, .ticket-card:hover .ticket-edit {
    opacity: 1;
}

    .card-add {
        cursor: pointer;
        border-style: dashed;
    }

    .card-add:hover {
        margin-top: -0.3rem;
        margin-bottom : 0.3rem;
    }

.card-shadow {
    transition: all 0.3s ease;
    
}
    .card-shadow:hover {
        box-shadow: 0rem 0rem 1rem lightgray;
    }

#board::-webkit-scrollbar {
    cursor: pointer;
    opacity: 0;
    height: 0.5rem;
    padding: 1rem 0;
}

#board::-webkit-scrollbar-thumb {
    border-radius: 1rem;
}

#board:hover::-webkit-scrollbar {
    opacity: 1;
    background-color: lightgray;
}

#board:hover::-webkit-scrollbar-thumb {
    background-color: grey;
}


tr {
    transition: all 0.3s ease;
}


@media (min-width: 992px) {
    .status-container {
        min-width: 20rem;
        
    }

    #board {
        flex-direction: row;
        min-height: 25rem;
        overflow-x: scroll;
    }

    #projects {
        flex-direction: row;
    }

    #insights {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

        #insights > div > canvas {
            height: 450px;
        }


        .project-container {
            min-width: 18rem;
            max-width: 25rem;
        }
}
