
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

    <div id="table-issue-container">
        <table class="table table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Issue</th>
                    <th scope="col">Feature</th>
                    <th scope="col">Project</th>
                </tr>
            </thead>
            <tbody id="table-issues-body">
                
            </tbody>
        </table>
    </div>